<template>
    <div>
        <h3>Diligencie los campos requeridos acontinuación</h3>
        <input type="" placeholder="Primer nombre" />
        <br>
        <br>
        <input type="" placeholder="Primer apellido" />
        <br>
        <br>
        <input type="number" placeholder="Edad" /> 
        <br>
        <br>
        <input type="" placeholder="Teléfono" />
        <br>
        <br>
        <input type="email" placeholder="E-mail" />
        <br>
        <br>
        <input type="" placeholder="Dirección" />
        <br>
        <br>
        <input type="" placeholder="Ciudad" />
        <br>
        <br>
        <input type="submit">
            






    </div>
</template>

<script>
export default {};
</script>

<style>

</style>