<template>
  <div id="app">
    

    <mi-componente/>
    <img alt="Vue logo" src="./assets/logo.jpg">
    <formulario/>
  </div>
</template>

<script>
import Formulario from './components/Formulario.vue'
import MiComponente from './components/MiComponente.vue'


export default {
  name: 'App',
  components: {
    MiComponente,
    Formulario
  }
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
